html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

@media only screen and (min-width: 600px) {

    #left-container {
        float: left;
        width: 45%;
    }
    
    
    #right-container {
        float: right;
        margin-top: 3%;
        width: 45%;
    }

    #matches-table-wrapper {
        float: initial;
        /* width: 45%; */
    }
}

button:hover {
    cursor: pointer;
}

#upper-wrapper {
    height: 90%;
}


#matches-table {
    display: none;
}

.fullscreen { 
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
  
}

#scorer {
    display: none;
}

.player-match-select {
    margin-bottom: 20px;
    height: 45px;
    min-width: 280px;
}

.float-right {
    float: right;
}



.success-btn {
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.danger-btn {
    background-color: darkred;
    color: white;
    padding: 3%;
}

@media only screen and (max-width: 600px) {
    #undo {
        margin: 10% 0 10% 0;
    }
}


@media only screen and (min-width: 600px) {
    #undo {
        margin-left: 90%;
        padding: 1%;
    }
}

#play-game-btn {
    padding: 3%;
    min-width: 50px;
}

#add-game-btn {
    padding: 3%;
    min-width: 50px;
}



@media only screen and (min-width: 600px) {
    #add-game-btn {
        margin-top: 10%;
        float: right;
    }

    #play-game-btn {
        margin-top: 10%;
        float: right;
    }
}


#add-player-btn {
    margin-top: 5%;
    padding: 3%;
    min-width: 50px;
    
}

#add-player-name-input {
    margin-top: 2%;
    width: 60%;
}

#winner {
    color: white;
    background-color: #6bc76b;
}

#loser {
    color: white;
    background-color: #c63939;
}

/******* TABLE STYLING *******/

caption {
    border-top-style: none;
    caption-side: top;
    border-color: darkkhaki;
    border-radius: 50%;
 }

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}




/**** ACCORDION STYLING ****/

 /* Style the buttons that are used to open and close the accordion panel */
 .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 5px auto 10px auto;
    margin-top: 5px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-bottom: 5%;
  } 

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
