/******* MODAL STYLING *******/

.modal-yesno-btn {
    margin-top: 5%;
    padding: 3%;
    min-width: 50px;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }

@media only screen and (min-width: 600px) {
    .modal-content {
        width: 30%;
    }
    
}
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: xx-large;
    font-weight: bold;
    margin-right: 10px;;
  }

    /* Big Button
.close-huge {
    color: white;
    float: right;
    font-size: xx-large;
    font-weight: bold;
} */
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
